@import '~bootstrap/scss/bootstrap';

h1, h3 {
  text-align: center;
}

.card-bg-dark {
  background-color: #3a3838;
}

.text-dark-muted {
  color: #ccc;
}

.btn-darker {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.btn-lighter {
  background-color: #f8f9fa;
  color: #000;
  border: 1px solid #000;
}